@font-face {
  font-family: lato;
  src: url(font/Lato-Regular.woff);
}
body {
  font-family: lato;
}

a {
  text-decoration: none;
  color: black !important;
}

header {
  position: fixed;
  z-index: 10;
  top: 0;
}

header ul.navbar-nav li {
  padding: 10px 15px !important;
}

header div.media-icons a {
  padding: 5px;
}
header div.media-icons a :hover {
  color: #c69f73;
}

header ul.navbar-nav li:hover a {
  color: #c69f73 !important;
}

@media screen and (min-width: 300px) {
  header ul.navbar-nav a {
    font-size: 12px;
    padding: 0 !important;
    margin-top: 10px;
    letter-spacing: 2px;
  }
  header div.media-icons a i {
    font-size: 13px;
  }
  header div.media-icons {
    margin-left: 0;
  }
}
@media screen and (min-width: 567px) {
  header ul.navbar-nav a {
    font-size: 12px;
    padding: 0 !important;
    margin-top: 10px;
    letter-spacing: 2px;
  }
  header div.media-icons a i {
    font-size: 13px;
  }
  header div.media-icons {
    margin-left: 0;
  }
}
@media screen and (min-width: 999px) {
  header ul.navbar-nav a {
    font-size: 10px;
    padding: 0 !important;
    letter-spacing: 2px;
  }
  header div.media-icons a i {
    font-size: 11px;
  }
  header div.media-icons {
    margin-left: 0;
  }
}
@media screen and (min-width: 1200px) {
  header ul.navbar-nav a {
    font-size: 12px;
    padding: 0 !important;
    letter-spacing: 2px;
  }
  header div.media-icons a i {
    font-size: 13px;
  }
  header div.media-icons {
    margin-left: 60px;
  }
}
@media screen and (min-width: 300px) {
  .logo {
    width: 60%;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 30px;
    margin-top: 50px !important;
  }
  .logo img {
    width: 100%;
  }
  div.carousel-item {
    position: relative;
  }
  div.carousel-item div.slider-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 70px !important;
    text-align: center;
    width: 55%;
    height: 23vw;
  }
  div.carousel-item div.slider-caption a.titr {
    color: #c69f73 !important;
    border-bottom: 1px solid #c69f73;
    font-weight: 600;
    font-size: 2vw;
    letter-spacing: 6px;
  }
  div.carousel-item div.slider-caption a.h2 {
    color: black !important;
    transition: 250ms;
    font-size: 4vw;
    font-family: "playfair Display";
  }
  div.carousel-item div.slider-caption a.h2:hover {
    color: darkgray !important;
  }
  div.carousel-item div.slider-caption p {
    font-size: 1vw;
    font-style: italic;
  }
  div.carousel-item div.slider-caption a.button {
    color: #c69f73;
    border: 3px solid #c69f73;
    display: inline-block;
    padding: 1vw 5vw;
    transition: 250ms;
    font-weight: 600;
    font-size: 1vw;
  }
  div.carousel-item div.slider-caption a.button:hover {
    background-color: #c69f73;
    color: white !important;
  }
}
@media screen and (min-width: 567px) {
  .logo {
    width: 40%;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 30px;
    margin-top: 80px !important;
  }
  .logo img {
    width: 100%;
  }
  div.carousel-item {
    position: relative;
  }
  div.carousel-item div.slider-caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 70px !important;
    text-align: center;
    width: 55%;
  }
  div.carousel-item div.slider-caption a.titr {
    color: #c69f73 !important;
    border-bottom: 1px solid #c69f73;
    font-weight: 600;
    display: inline-block;
    font-size: 2vw;
    letter-spacing: 6px;
  }
  div.carousel-item div.slider-caption a.h2 {
    color: black !important;
    transition: 250ms;
    display: block;
    font-size: 4vw;
    font-family: "playfair Display";
  }
  div.carousel-item div.slider-caption a.h2:hover {
    color: darkgray !important;
  }
  div.carousel-item div.slider-caption p {
    font-size: 1vw;
    font-style: italic;
  }
  div.carousel-item div.slider-caption a.button {
    color: #c69f73;
    border: 3px solid #c69f73;
    display: inline-block;
    padding: 1vw 5vw;
    transition: 250ms;
    font-weight: 600;
    font-size: 1vw;
  }
  div.carousel-item div.slider-caption a.button:hover {
    color: white !important;
  }
  div.carousel-item div.slider-caption a.button:before {
    background-color: #c69f73 !important;
  }
}
@media screen and (min-width: 999px) {
  .logo {
    width: 40%;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 30px;
    margin-top: 80px !important;
  }
  .logo img {
    width: 100%;
  }
  div.carousel-item {
    position: relative;
  }
  div.carousel-item div.slider-caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 70px !important;
    text-align: center;
    width: 45%;
  }
  div.carousel-item div.slider-caption a.titr {
    color: #c69f73 !important;
    border-bottom: 1px solid #c69f73;
    font-weight: 600;
    display: inline-block;
    font-size: 1vw;
    letter-spacing: 6px;
  }
  div.carousel-item div.slider-caption a.h2 {
    color: black !important;
    transition: 250ms;
    display: block;
    font-size: 2vw;
    font-family: "playfair Display";
  }
  div.carousel-item div.slider-caption a.h2:hover {
    color: darkgray !important;
  }
  div.carousel-item div.slider-caption p {
    font-size: 1vw;
    font-style: italic;
  }
  div.carousel-item div.slider-caption a.button {
    color: #c69f73;
    border: 3px solid #c69f73;
    display: inline-block;
    padding: 1vw 5vw;
    transition: 250ms;
    font-weight: 600;
    font-size: 1vw;
  }
  div.carousel-item div.slider-caption a.button:hover {
    color: white !important;
  }
  div.carousel-item div.slider-caption a.button:before {
    background-color: #c69f73 !important;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    width: 40%;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 30px;
    margin-top: 90px !important;
  }
  .logo img {
    width: 100%;
  }
  div.carousel-item {
    position: relative;
  }
  div.carousel-item div.slider-caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 70px !important;
    text-align: center;
    width: 35%;
  }
  div.carousel-item div.slider-caption a.titr {
    color: #c69f73 !important;
    border-bottom: 1px solid #c69f73;
    font-weight: 600;
    display: inline-block;
    font-size: 1vw;
    letter-spacing: 6px;
  }
  div.carousel-item div.slider-caption a.h2 {
    color: black !important;
    transition: 250ms;
    display: block;
    font-size: 2vw;
    font-family: "playfair Display";
  }
  div.carousel-item div.slider-caption a.h2:hover {
    color: darkgray !important;
  }
  div.carousel-item div.slider-caption p {
    font-size: 1vw;
    font-style: italic;
  }
  div.carousel-item div.slider-caption a.button {
    color: #c69f73;
    border: 3px solid #c69f73;
    display: inline-block;
    padding: 1vw 5vw;
    transition: 250ms;
    font-weight: 600;
    font-size: 1vw;
  }
  div.carousel-item div.slider-caption a.button:hover {
    color: white !important;
  }
  div.carousel-item div.slider-caption a.button:before {
    background-color: #c69f73 !important;
  }
}
@media screen and (min-width: 300px) {
  div.slide-bar div.card-1 {
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: relative;
  }
  div.slide-bar div.card-1 a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    display: inline-block;
    font-size: 2vw;
    transition: 250ms;
  }
}
@media screen and (min-width: 567px) {
  div.slide-bar div.card-1 {
    width: 31%;
    height: 100px;
    overflow: hidden;
    position: relative;
  }
  div.slide-bar div.card-1 a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    display: inline-block;
    font-size: 1vw;
    transition: 250ms;
  }
}
@media screen and (min-width: 768px) {
  div.slide-bar div.card-1 {
    width: 31%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  div.slide-bar div.card-1 a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    display: inline-block;
    font-size: 1vw;
    transition: 250ms;
  }
}
@media screen and (min-width: 999px) {
  div.slide-bar div.card-1 {
    width: 31%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  div.slide-bar div.card-1 a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    display: inline-block;
    font-size: 1vw;
    transition: 250ms;
  }
}
@media screen and (min-width: 1200px) {
  div.slide-bar div.card-1 {
    width: 31%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  div.slide-bar div.card-1 a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    display: inline-block;
    font-size: 1vw;
    transition: 250ms;
  }
}
@media screen and (min-width: 300px) {
  section div.left-side {
    width: 100%;
    padding: 20px 0;
    position: relative;
  }
  section div.left-side h6.older {
    color: #c69f73 !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2vw;
    cursor: pointer;
  }
  section div.left-side h6.older:hover {
    color: #a57743 !important;
    border-bottom: 1px solid #a57743 !important;
  }
  section div.left-side div.travel a.titr {
    color: #c69f73 !important;
    font-size: 3vw;
    font-weight: 600;
    letter-spacing: 6px;
    border-bottom: 2px solid #c69f73 !important;
  }
  section div.left-side div.travel a.h2 {
    font-family: "playfair Display";
    color: black;
    font-size: 5vw;
    transition: 250ms !important;
  }
  section div.left-side div.travel a.h2:hover {
    color: darkgray !important;
  }
  section div.left-side div.travel p.date-travel {
    font-size: 3vw;
    font-style: italic;
    color: darkgray !important;
  }
  section div.left-side div.travel img {
    width: 100%;
  }
  section div.left-side div.travel p.travel-description {
    color: black;
    font-size: 3vw !important;
  }
  section div.left-side div.travel a.continue {
    display: inline-block;
    text-decoration: none;
    border: 3px solid #c69f73;
    padding: 10px 50px;
    transition: 250ms;
    letter-spacing: 3px;
    font-size: 3vw;
    font-weight: 400 !important;
    background-color: white !important;
  }
  section div.left-side div.travel a.continue:hover {
    color: white !important;
  }
  section div.left-side div.travel a.continue:before {
    background-color: #c69f73 !important;
  }
  section div.left-side div.travel div.comment {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    border-bottom: 1px solid lightgray;
  }
  section div.left-side div.travel div.comment div.left a.comment-p {
    font-size: 3vw;
    font-style: italic;
    color: darkgray !important;
  }
  section div.left-side div.travel div.comment div.share-icons a.share {
    font-size: 3vw;
    color: darkgray !important;
    display: inline-block;
    font-style: italic !important;
  }
  section div.left-side div.travel div.comment div.share-icons a.icons {
    text-decoration: none;
    font-size: 3vw;
    color: #c69f73 !important;
    display: inline-block;
    padding: 5px !important;
  }
  section div.left-side div.travel div.comment div.share-icons i {
    font-size: 3vw;
  }
  section div.left-side div.posts div.card-1 {
    width: 100%;
  }
  section div.left-side div.posts div.card-1 a.titr {
    color: #c69f73 !important;
    font-size: 3vw;
    font-weight: 600;
    letter-spacing: 6px;
    border-bottom: 2px solid #c69f73 !important;
  }
  section div.left-side div.posts div.card-1 a.h2 {
    font-family: "playfair Display";
    color: black;
    font-size: 4vw;
    transition: 250ms !important;
  }
  section div.left-side div.posts div.card-1 a.h2:hover {
    color: darkgray !important;
  }
  section div.left-side div.posts div.card-1 p.card-description {
    color: black;
    font-size: 3vw !important;
  }
  section div.left-side div.posts div.card-1 p.date {
    font-style: italic;
    font-size: 3vw;
    color: darkgray;
  }
  section div.left-side div.posts-1 div.card-1 {
    width: 100%;
  }
  section div.left-side div.posts-1 div.card-1 a.titr {
    color: #c69f73 !important;
    font-size: 3vw;
    font-weight: 600;
    letter-spacing: 6px;
    border-bottom: 2px solid #c69f73 !important;
  }
  section div.left-side div.posts-1 div.card-1 a.h2 {
    font-family: "playfair Display";
    color: black;
    font-size: 4vw;
    transition: 250ms !important;
  }
  section div.left-side div.posts-1 div.card-1 a.h2:hover {
    color: darkgray !important;
  }
  section div.left-side div.posts-1 div.card-1 p.card-description {
    color: black;
    font-size: 3vw !important;
  }
  section div.left-side div.posts-1 div.card-1 p.date {
    font-style: italic;
    font-size: 3vw;
    color: darkgray;
  }
}
@media screen and (min-width: 567px) {
  section div.left-side {
    width: 100%;
    padding: 20px 0;
    position: relative;
  }
  section div.left-side h6.older {
    color: #c69f73 !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2vw;
  }
  section div.left-side h6.older:hover {
    color: #a57743 !important;
    border-bottom: 1px solid #a57743 !important;
  }
  section div.left-side div.travel a.titr {
    color: #c69f73 !important;
    font-size: 2vw;
    font-weight: 600;
    letter-spacing: 6px;
    border-bottom: 2px solid #c69f73 !important;
  }
  section div.left-side div.travel a.h2 {
    font-family: "playfair Display";
    color: black;
    font-size: 4vw;
    transition: 250ms !important;
  }
  section div.left-side div.travel a.h2:hover {
    color: darkgray !important;
  }
  section div.left-side div.travel p.date-travel {
    font-size: 2vw;
    font-style: italic;
    color: darkgray !important;
  }
  section div.left-side div.travel img {
    width: 100%;
  }
  section div.left-side div.travel p.travel-description {
    color: black;
    font-size: 2vw !important;
  }
  section div.left-side div.travel a.continue {
    display: inline-block;
    text-decoration: none;
    border: 3px solid #c69f73;
    padding: 10px 50px;
    transition: 250ms;
    letter-spacing: 3px;
    font-size: 2vw;
    font-weight: 400 !important;
  }
  section div.left-side div.travel a.continue:before {
    background-color: #c69f73 !important;
  }
  section div.left-side div.travel div.comment {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    border-bottom: 1px solid lightgray;
  }
  section div.left-side div.travel div.comment div.left a.comment-p {
    font-size: 2vw;
    font-style: italic;
    color: darkgray !important;
  }
  section div.left-side div.travel div.comment div.share-icons a.share {
    font-size: 2vw;
    color: darkgray !important;
    display: inline-block;
    font-style: italic !important;
  }
  section div.left-side div.travel div.comment div.share-icons a.icons {
    text-decoration: none;
    font-size: 2vw;
    color: #c69f73 !important;
    display: inline-block;
    padding: 5px !important;
  }
  section div.left-side div.travel div.comment div.share-icons i {
    font-size: 2vw;
  }
  section div.left-side div.posts div.card-1 {
    width: 48%;
  }
  section div.left-side div.posts div.card-1 a.titr {
    color: #c69f73 !important;
    font-size: 2vw;
    font-weight: 600;
    letter-spacing: 6px;
    border-bottom: 2px solid #c69f73 !important;
  }
  section div.left-side div.posts div.card-1 a.h2 {
    font-family: "playfair Display";
    color: black;
    font-size: 3vw;
    transition: 250ms !important;
  }
  section div.left-side div.posts div.card-1 a.h2:hover {
    color: darkgray !important;
  }
  section div.left-side div.posts div.card-1 p.card-description {
    color: black;
    font-size: 2vw !important;
  }
  section div.left-side div.posts div.card-1 p.date {
    font-style: italic;
    font-size: 2vw;
    color: darkgray;
  }
  section div.left-side div.posts-1 div.card-1 {
    width: 48%;
  }
  section div.left-side div.posts-1 div.card-1 a.titr {
    color: #c69f73 !important;
    font-size: 2vw;
    font-weight: 600;
    letter-spacing: 6px;
    border-bottom: 2px solid #c69f73 !important;
  }
  section div.left-side div.posts-1 div.card-1 a.h2 {
    font-family: "playfair Display";
    color: black;
    font-size: 3vw;
    transition: 250ms !important;
  }
  section div.left-side div.posts-1 div.card-1 a.h2:hover {
    color: darkgray !important;
  }
  section div.left-side div.posts-1 div.card-1 p.card-description {
    color: black;
    font-size: 2vw !important;
  }
  section div.left-side div.posts-1 div.card-1 p.date {
    font-style: italic;
    font-size: 2vw;
    color: darkgray;
  }
}
@media screen and (min-width: 768px) {
  section div.left-side {
    width: 68%;
    padding: 20px 0;
    position: relative;
  }
  section div.left-side h6.older {
    color: #c69f73 !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1vw;
  }
  section div.left-side h6.older:hover {
    color: #a57743 !important;
    border-bottom: 1px solid #a57743 !important;
  }
  section div.left-side div.travel a.titr {
    color: #c69f73 !important;
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: 6px;
    border-bottom: 2px solid #c69f73 !important;
  }
  section div.left-side div.travel a.h2 {
    font-family: "playfair Display";
    color: black;
    font-size: 3vw;
    transition: 250ms !important;
  }
  section div.left-side div.travel a.h2:hover {
    color: darkgray !important;
  }
  section div.left-side div.travel p.date-travel {
    font-size: 1vw;
    font-style: italic;
    color: darkgray !important;
  }
  section div.left-side div.travel img {
    width: 100%;
  }
  section div.left-side div.travel p.travel-description {
    color: black;
    font-size: 1vw !important;
  }
  section div.left-side div.travel a.continue {
    display: inline-block;
    text-decoration: none;
    border: 3px solid #c69f73;
    padding: 10px 50px;
    font-size: 1vw;
    transition: 250ms;
    letter-spacing: 3px;
    font-weight: 400 !important;
  }
  section div.left-side div.travel a.continue:before {
    background-color: #c69f73 !important;
  }
  section div.left-side div.travel div.comment {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    border-bottom: 1px solid lightgray;
  }
  section div.left-side div.travel div.comment div.left a.comment-p {
    font-size: 1vw;
    font-style: italic;
    color: darkgray !important;
  }
  section div.left-side div.travel div.comment div.share-icons a.share {
    font-size: 1vw;
    color: darkgray !important;
    display: inline-block;
    font-style: italic !important;
  }
  section div.left-side div.travel div.comment div.share-icons a.icons {
    text-decoration: none;
    font-size: 1vw;
    color: #c69f73 !important;
    display: inline-block;
    padding: 5px !important;
  }
  section div.left-side div.travel div.comment div.share-icons i {
    font-size: 1vw;
  }
  section div.left-side div.posts div.card-1 {
    width: 48%;
  }
  section div.left-side div.posts div.card-1 a.titr {
    color: #c69f73 !important;
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: 6px;
    border-bottom: 2px solid #c69f73 !important;
  }
  section div.left-side div.posts div.card-1 a.h2 {
    font-family: "playfair Display";
    color: black;
    font-size: 2vw;
    transition: 250ms !important;
  }
  section div.left-side div.posts div.card-1 a.h2:hover {
    color: darkgray !important;
  }
  section div.left-side div.posts div.card-1 p.card-description {
    color: black;
    font-size: 1vw !important;
  }
  section div.left-side div.posts div.card-1 p.date {
    font-style: italic;
    font-size: 1vw;
    color: darkgray;
  }
  section div.left-side div.posts-1 div.card-1 {
    width: 48%;
  }
  section div.left-side div.posts-1 div.card-1 a.titr {
    color: #c69f73 !important;
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: 6px;
    border-bottom: 2px solid #c69f73 !important;
  }
  section div.left-side div.posts-1 div.card-1 a.h2 {
    font-family: "playfair Display";
    color: black;
    font-size: 2vw;
    transition: 250ms !important;
  }
  section div.left-side div.posts-1 div.card-1 a.h2:hover {
    color: darkgray !important;
  }
  section div.left-side div.posts-1 div.card-1 p.card-description {
    color: black;
    font-size: 1vw !important;
  }
  section div.left-side div.posts-1 div.card-1 p.date {
    font-style: italic;
    font-size: 1vw;
    color: darkgray;
  }
}
@media screen and (min-width: 999px) {
  section div.left-side {
    width: 68%;
    padding: 20px 0;
    position: relative;
  }
  section div.left-side h6.older {
    color: #c69f73 !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1vw;
  }
  section div.left-side h6.older:hover {
    color: #a57743 !important;
    border-bottom: 1px solid #a57743 !important;
  }
  section div.left-side div.travel a.titr {
    color: #c69f73 !important;
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: 6px;
    border-bottom: 2px solid #c69f73 !important;
  }
  section div.left-side div.travel a.h2 {
    font-family: "playfair Display";
    color: black;
    font-size: 3vw;
    transition: 250ms !important;
  }
  section div.left-side div.travel a.h2:hover {
    color: darkgray !important;
  }
  section div.left-side div.travel p.date-travel {
    font-size: 1vw;
    font-style: italic;
    color: darkgray !important;
  }
  section div.left-side div.travel img {
    width: 100%;
  }
  section div.left-side div.travel p.travel-description {
    color: black;
    font-size: 1vw !important;
  }
  section div.left-side div.travel a.continue {
    display: inline-block;
    text-decoration: none;
    border: 3px solid #c69f73;
    padding: 10px 50px;
    transition: 250ms;
    font-size: 1vw;
    letter-spacing: 3px;
    font-weight: 400 !important;
  }
  section div.left-side div.travel a.continue:before {
    background-color: #c69f73 !important;
  }
  section div.left-side div.travel div.comment {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    border-bottom: 1px solid lightgray;
  }
  section div.left-side div.travel div.comment div.left a.comment-p {
    font-size: 1vw;
    font-style: italic;
    color: darkgray !important;
  }
  section div.left-side div.travel div.comment div.share-icons a.share {
    font-size: 1vw;
    color: darkgray !important;
    display: inline-block;
    font-style: italic !important;
  }
  section div.left-side div.travel div.comment div.share-icons a.icons {
    text-decoration: none;
    font-size: 1vw;
    color: #c69f73 !important;
    display: inline-block;
    padding: 5px !important;
  }
  section div.left-side div.travel div.comment div.share-icons i {
    font-size: 1vw;
  }
  section div.left-side div.posts div.card-1 {
    width: 48%;
  }
  section div.left-side div.posts div.card-1 a.titr {
    color: #c69f73 !important;
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: 6px;
    border-bottom: 2px solid #c69f73 !important;
  }
  section div.left-side div.posts div.card-1 a.h2 {
    font-family: "playfair Display";
    color: black;
    font-size: 2vw;
    transition: 250ms !important;
  }
  section div.left-side div.posts div.card-1 a.h2:hover {
    color: darkgray !important;
  }
  section div.left-side div.posts div.card-1 p.card-description {
    color: black;
    font-size: 1vw !important;
  }
  section div.left-side div.posts div.card-1 p.date {
    font-style: italic;
    font-size: 1vw;
    color: darkgray;
  }
  section div.left-side div.posts-1 div.card-1 {
    width: 48%;
  }
  section div.left-side div.posts-1 div.card-1 a.titr {
    color: #c69f73 !important;
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: 6px;
    border-bottom: 2px solid #c69f73 !important;
  }
  section div.left-side div.posts-1 div.card-1 a.h2 {
    font-family: "playfair Display";
    color: black;
    font-size: 2vw;
    transition: 250ms !important;
  }
  section div.left-side div.posts-1 div.card-1 a.h2:hover {
    color: darkgray !important;
  }
  section div.left-side div.posts-1 div.card-1 p.card-description {
    color: black;
    font-size: 1vw !important;
  }
  section div.left-side div.posts-1 div.card-1 p.date {
    font-style: italic;
    font-size: 1vw;
    color: darkgray;
  }
}
@media screen and (min-width: 1200px) {
  section div.left-side {
    width: 68%;
    padding: 20px 0;
    position: relative;
  }
  section div.left-side h6.older {
    color: #c69f73 !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1vw;
  }
  section div.left-side h6.older:hover {
    color: #a57743 !important;
    border-bottom: 1px solid #a57743 !important;
  }
  section div.left-side div.travel a.titr {
    color: #c69f73 !important;
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: 6px;
    border-bottom: 2px solid #c69f73 !important;
  }
  section div.left-side div.travel a.h2 {
    font-family: "playfair Display";
    color: black;
    font-size: 3vw;
    transition: 250ms !important;
  }
  section div.left-side div.travel a.h2:hover {
    color: darkgray !important;
  }
  section div.left-side div.travel p.date-travel {
    font-size: 1vw;
    font-style: italic;
    color: darkgray !important;
  }
  section div.left-side div.travel img {
    width: 100%;
  }
  section div.left-side div.travel p.travel-description {
    color: black;
    font-size: 1vw !important;
  }
  section div.left-side div.travel a.continue {
    display: inline-block;
    text-decoration: none;
    border: 3px solid #c69f73;
    padding: 10px 50px;
    transition: 250ms;
    font-size: 1vw;
    letter-spacing: 3px;
    font-weight: 400 !important;
  }
  section div.left-side div.travel a.continue:before {
    background-color: #c69f73 !important;
  }
  section div.left-side div.travel div.comment {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    border-bottom: 1px solid lightgray;
  }
  section div.left-side div.travel div.comment div.left a.comment-p {
    font-size: 1vw;
    font-style: italic;
    color: darkgray !important;
  }
  section div.left-side div.travel div.comment div.share-icons a.share {
    font-size: 1vw;
    color: darkgray !important;
    display: inline-block;
    font-style: italic !important;
  }
  section div.left-side div.travel div.comment div.share-icons a.icons {
    text-decoration: none;
    font-size: 1vw;
    color: #c69f73 !important;
    display: inline-block;
    padding: 5px !important;
  }
  section div.left-side div.travel div.comment div.share-icons i {
    font-size: 1vw;
  }
  section div.left-side div.posts div.card-1 {
    width: 48%;
  }
  section div.left-side div.posts div.card-1 a.titr {
    color: #c69f73 !important;
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: 6px;
    border-bottom: 2px solid #c69f73 !important;
  }
  section div.left-side div.posts div.card-1 a.h2 {
    font-family: "playfair Display";
    color: black;
    font-size: 2vw;
    transition: 250ms !important;
  }
  section div.left-side div.posts div.card-1 a.h2:hover {
    color: darkgray !important;
  }
  section div.left-side div.posts div.card-1 p.card-description {
    color: black;
    font-size: 1vw !important;
  }
  section div.left-side div.posts div.card-1 p.date {
    font-style: italic;
    font-size: 1vw;
    color: darkgray;
  }
  section div.left-side div.posts-1 div.card-1 {
    width: 48%;
  }
  section div.left-side div.posts-1 div.card-1 a.titr {
    color: #c69f73 !important;
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: 6px;
    border-bottom: 2px solid #c69f73 !important;
  }
  section div.left-side div.posts-1 div.card-1 a.h2 {
    font-family: "playfair Display";
    color: black;
    font-size: 2vw;
    transition: 250ms !important;
  }
  section div.left-side div.posts-1 div.card-1 a.h2:hover {
    color: darkgray !important;
  }
  section div.left-side div.posts-1 div.card-1 p.card-description {
    color: black;
    font-size: 1vw !important;
  }
  section div.left-side div.posts-1 div.card-1 p.date {
    font-style: italic;
    font-size: 1vw;
    color: darkgray;
  }
}
@media screen and (min-width: 300px) {
  section div.right-side {
    width: 100%;
    padding: 10px 0;
  }
  section div.right-side h4 {
    font-size: 3vw;
    display: block !important;
    color: black !important;
    border: 1px solid #c69f73 !important;
    padding: 15px 0;
    width: 100%;
    letter-spacing: 4px;
    font-weight: 100;
    text-align: center;
  }
  section div.right-side div.about-me img {
    border-radius: 50%;
    width: 100%;
  }
  section div.right-side div.about-me p {
    font-size: 3vw;
    color: black !important;
  }
  section div.right-side div.about-me a {
    color: #c69f73 !important;
    font-size: 3vw;
    text-decoration: none;
    padding: 10px 0 !important;
  }
  section div.right-side div.about-me a:before {
    background-color: #c69f73 !important;
  }
  section div.right-side div.media-icons {
    padding: 10px 0;
  }
  section div.right-side div.media-icons div.icons {
    text-align: center;
  }
  section div.right-side div.media-icons div.icons a {
    padding: 5px 10px;
    color: black !important;
    text-decoration: none;
  }
  section div.right-side div.media-icons div.icons a i {
    font-size: 3vw;
  }
  section div.right-side div.media-icons div.icons a:hover {
    color: #c69f73 !important;
  }
  section div.right-side div.must-read div.must-read-card a {
    font-size: 3vw !important;
  }
  section div.right-side div.must-read div.must-read-card a:hover {
    text-decoration: underline;
  }
  section div.right-side div.must-read div.must-read-card p {
    font-style: italic;
  }
  section div.right-side div.email {
    background-color: lightgray !important;
  }
  section div.right-side div.email h3 {
    font-style: italic;
    font-family: "playfair Display";
  }
  section div.right-side div.email a {
    background-color: black;
    text-decoration: none;
    color: white !important;
    display: block;
    padding: 15px 0;
  }
  section div.right-side div.email a:hover {
    background-color: #c69f73 !important;
  }
  section div.right-side div.tags div.lifestyle {
    position: relative;
  }
  section div.right-side div.tags div.lifestyle a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 3px;
    font-size: 3vw;
  }
  section div.right-side div.tags div.travel {
    position: relative;
  }
  section div.right-side div.tags div.travel a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 3px;
    font-size: 3vw;
  }
  section div.right-side div.categories a {
    display: block;
    padding: 10px 5px;
    border-bottom: 1px solid lightgray;
    font-size: 3vw;
  }
  section div.right-side div.categories a:hover {
    text-decoration: underline !important;
  }
}
@media screen and (min-width: 567px) {
  section div.right-side {
    width: 100%;
    padding: 10px 0;
  }
  section div.right-side h4 {
    font-size: 2vw;
    display: block !important;
    color: black !important;
    border: 1px solid #c69f73 !important;
    padding: 15px 0;
    width: 100%;
    letter-spacing: 4px;
    font-weight: 100;
    text-align: center;
  }
  section div.right-side div.about-me img {
    border-radius: 50%;
    width: 100%;
  }
  section div.right-side div.about-me p {
    font-size: 2vw;
    color: black !important;
  }
  section div.right-side div.about-me a {
    color: #c69f73 !important;
    font-size: 2vw;
    text-decoration: none;
    padding: 10px 0 !important;
  }
  section div.right-side div.about-me a:before {
    background-color: #c69f73 !important;
  }
  section div.right-side div.media-icons {
    padding: 10px 0;
  }
  section div.right-side div.media-icons div.icons {
    text-align: center;
  }
  section div.right-side div.media-icons div.icons a {
    padding: 5px 10px;
    color: black !important;
    text-decoration: none;
  }
  section div.right-side div.media-icons div.icons a i {
    font-size: 2vw;
  }
  section div.right-side div.media-icons div.icons a:hover {
    color: #c69f73 !important;
  }
  section div.right-side div.must-read div.must-read-card a {
    font-size: 2vw !important;
  }
  section div.right-side div.must-read div.must-read-card a:hover {
    text-decoration: underline;
  }
  section div.right-side div.must-read div.must-read-card p {
    font-style: italic;
  }
  section div.right-side div.email {
    background-color: lightgray !important;
  }
  section div.right-side div.email h3 {
    font-style: italic;
    font-family: "playfair Display";
  }
  section div.right-side div.email a {
    background-color: black;
    text-decoration: none;
    color: white !important;
    display: block;
    padding: 15px 0;
  }
  section div.right-side div.email a:hover {
    background-color: #c69f73 !important;
  }
  section div.right-side div.tags div.lifestyle {
    position: relative;
  }
  section div.right-side div.tags div.lifestyle a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 3px;
    font-size: 2vw;
  }
  section div.right-side div.tags div.travel {
    position: relative;
  }
  section div.right-side div.tags div.travel a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 3px;
    font-size: 2vw;
  }
  section div.right-side div.categories a {
    display: block;
    padding: 10px 5px;
    border-bottom: 1px solid lightgray;
    font-size: 2vw;
  }
  section div.right-side div.categories a:hover {
    text-decoration: underline !important;
  }
}
@media screen and (min-width: 768px) {
  section div.right-side {
    width: 28%;
    padding: 10px 0;
  }
  section div.right-side h4 {
    font-size: 1vw;
    display: block !important;
    color: black !important;
    border: 1px solid #c69f73 !important;
    padding: 15px 0;
    width: 100%;
    letter-spacing: 4px;
    font-weight: 100;
    text-align: center;
  }
  section div.right-side div.about-me img {
    border-radius: 50%;
    width: 100%;
  }
  section div.right-side div.about-me p {
    font-size: 1vw;
    color: black !important;
  }
  section div.right-side div.about-me a {
    color: #c69f73 !important;
    font-size: 1vw;
    text-decoration: none;
    padding: 10px 0 !important;
  }
  section div.right-side div.about-me a:before {
    background-color: #c69f73 !important;
  }
  section div.right-side div.media-icons {
    padding: 10px 0;
  }
  section div.right-side div.media-icons div.icons {
    text-align: center;
  }
  section div.right-side div.media-icons div.icons a {
    padding: 5px 10px;
    color: black !important;
    text-decoration: none;
  }
  section div.right-side div.media-icons div.icons a i {
    font-size: 1vw;
  }
  section div.right-side div.media-icons div.icons a:hover {
    color: #c69f73 !important;
  }
  section div.right-side div.must-read div.must-read-card a {
    font-size: 1vw !important;
  }
  section div.right-side div.must-read div.must-read-card a:hover {
    text-decoration: underline;
  }
  section div.right-side div.must-read div.must-read-card p {
    font-style: italic;
  }
  section div.right-side div.email {
    background-color: lightgray !important;
  }
  section div.right-side div.email h3 {
    font-style: italic;
    font-family: "playfair Display";
  }
  section div.right-side div.email a {
    background-color: black;
    text-decoration: none;
    color: white !important;
    display: block;
    padding: 15px 0;
  }
  section div.right-side div.email a:hover {
    background-color: #c69f73 !important;
  }
  section div.right-side div.tags div.lifestyle {
    position: relative;
  }
  section div.right-side div.tags div.lifestyle a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 3px;
    font-size: 1vw;
  }
  section div.right-side div.tags div.travel {
    position: relative;
  }
  section div.right-side div.tags div.travel a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 3px;
    font-size: 1vw;
  }
  section div.right-side div.categories a {
    display: block;
    padding: 10px 5px;
    border-bottom: 1px solid lightgray;
    font-size: 1vw;
  }
  section div.right-side div.categories a:hover {
    text-decoration: underline !important;
  }
}
@media screen and (min-width: 999px) {
  section div.right-side {
    width: 28%;
    padding: 10px 0;
  }
  section div.right-side h4 {
    font-size: 1vw;
    display: block !important;
    color: black !important;
    border: 1px solid #c69f73 !important;
    padding: 15px 0;
    width: 100%;
    letter-spacing: 4px;
    font-weight: 100;
    text-align: center;
  }
  section div.right-side div.about-me img {
    border-radius: 50%;
    width: 100%;
  }
  section div.right-side div.about-me p {
    font-size: 1vw;
    color: black !important;
  }
  section div.right-side div.about-me a {
    color: #c69f73 !important;
    font-size: 1vw;
    text-decoration: none;
    padding: 10px 0 !important;
  }
  section div.right-side div.about-me a:before {
    background-color: #c69f73 !important;
  }
  section div.right-side div.media-icons {
    padding: 10px 0;
  }
  section div.right-side div.media-icons div.icons {
    text-align: center;
  }
  section div.right-side div.media-icons div.icons a {
    padding: 5px 10px;
    color: black !important;
    text-decoration: none;
  }
  section div.right-side div.media-icons div.icons a i {
    font-size: 1vw;
  }
  section div.right-side div.media-icons div.icons a:hover {
    color: #c69f73 !important;
  }
  section div.right-side div.must-read div.must-read-card a {
    font-size: 1vw !important;
  }
  section div.right-side div.must-read div.must-read-card a:hover {
    text-decoration: underline;
  }
  section div.right-side div.must-read div.must-read-card p {
    font-style: italic;
  }
  section div.right-side div.email {
    background-color: lightgray !important;
  }
  section div.right-side div.email h3 {
    font-style: italic;
    font-family: "playfair Display";
  }
  section div.right-side div.email a {
    background-color: black;
    text-decoration: none;
    color: white !important;
    display: block;
    padding: 15px 0;
  }
  section div.right-side div.email a:hover {
    background-color: #c69f73 !important;
  }
  section div.right-side div.tags div.lifestyle {
    position: relative;
  }
  section div.right-side div.tags div.lifestyle a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 3px;
    font-size: 1vw;
  }
  section div.right-side div.tags div.travel {
    position: relative;
  }
  section div.right-side div.tags div.travel a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 3px;
    font-size: 1vw;
  }
  section div.right-side div.categories a {
    display: block;
    padding: 10px 5px;
    border-bottom: 1px solid lightgray;
    font-size: 1vw;
  }
  section div.right-side div.categories a:hover {
    text-decoration: underline !important;
  }
}
@media screen and (min-width: 1200px) {
  section div.right-side {
    width: 28%;
    padding: 10px 0;
  }
  section div.right-side h4 {
    font-size: 1vw;
    display: block !important;
    color: black !important;
    border: 1px solid #c69f73 !important;
    padding: 15px 0;
    width: 100%;
    letter-spacing: 4px;
    font-weight: 100;
    text-align: center;
  }
  section div.right-side div.about-me img {
    border-radius: 50%;
    width: 100%;
  }
  section div.right-side div.about-me p {
    font-size: 1vw;
    color: black !important;
  }
  section div.right-side div.about-me a {
    color: #c69f73 !important;
    font-size: 1vw;
    text-decoration: none;
    padding: 10px 0 !important;
  }
  section div.right-side div.about-me a:before {
    background-color: #c69f73 !important;
  }
  section div.right-side div.media-icons {
    padding: 10px 0;
  }
  section div.right-side div.media-icons div.icons {
    text-align: center;
  }
  section div.right-side div.media-icons div.icons a {
    padding: 5px 10px;
    color: black !important;
    text-decoration: none;
  }
  section div.right-side div.media-icons div.icons a i {
    font-size: 1vw;
  }
  section div.right-side div.media-icons div.icons a:hover {
    color: #c69f73 !important;
  }
  section div.right-side div.must-read div.must-read-card a {
    font-size: 1vw !important;
  }
  section div.right-side div.must-read div.must-read-card a:hover {
    text-decoration: underline;
  }
  section div.right-side div.must-read div.must-read-card p {
    font-style: italic;
  }
  section div.right-side div.email {
    background-color: lightgray !important;
  }
  section div.right-side div.email h3 {
    font-style: italic;
    font-family: "playfair Display";
  }
  section div.right-side div.email a {
    background-color: black;
    text-decoration: none;
    color: white !important;
    display: block;
    padding: 15px 0;
  }
  section div.right-side div.email a:hover {
    background-color: #c69f73 !important;
  }
  section div.right-side div.tags div.lifestyle {
    position: relative;
  }
  section div.right-side div.tags div.lifestyle a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 3px;
    font-size: 1vw;
  }
  section div.right-side div.tags div.travel {
    position: relative;
  }
  section div.right-side div.tags div.travel a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 3px;
    font-size: 1vw;
  }
  section div.right-side div.categories a {
    display: block;
    padding: 10px 5px;
    border-bottom: 1px solid lightgray;
    font-size: 1vw;
  }
  section div.right-side div.categories a:hover {
    text-decoration: underline !important;
  }
}
footer img {
  width: 16.9%;
  transition: 250ms;
}
footer img:hover {
  opacity: 80%;
}/*# sourceMappingURL=main.css.map */